In [24]:
import pandas as pd

In [25]:
# df = pd.read_csv("talk_to_us/country_data/country.csv")

In [26]:
df_country = pd.read_csv('talk_to_us/country_data/country.csv')
df_country = df_country[df_country['Dial'].notna()]
# df_country['Dial'] = df_country['Dial'].apply(lambda x : '+' + x)
df_country['Dial'] = df_country['Dial'].apply(lambda x : x.replace("-",""))
df_country.drop_duplicates(subset=['Dial'],inplace=True)
df_country['Dial'] = df_country['Dial'].apply(lambda x : x.split(",")[0])
df_country = df_country[['FIFA','Dial']]

In [30]:
new_row = pd.DataFrame({'FIFA':'IND', 'Dial':'91'},index =[0])

In [31]:
df_country = pd.concat([new_row, df_country]).reset_index(drop = True)

In [33]:
df_country.drop_duplicates(subset=['FIFA'],inplace=True)

    FIFA Dial
0    IND   91
1    TPE  886
2    AFG   93
3    ALB  355
4    ALG  213
..   ...  ...
224  VIE   84
225  WLF  681
226  YEM  967
227  ZAM  260
228  ZIM  263

[224 rows x 2 columns]